<template>
  <div class="container">
  <!--read from customize directive from main.js-->
  <div>
  <!--:red &:green are argument-->
  <!-- <h2 v-testdirective:red="'hello Customize Directive'"></h2>
  <h2 v-testdirective:green="'hello Customize Directive'"></h2> -->

  <!--.red.big &.green.small four modifiers-->
  <h2 v-testdirective.red.big="'hello Customize Directive'"></h2>
  <h2 v-testdirective.green.small="'hello Customize Directive'"></h2>
  </div>
  <!--End Directive-->
  <button v-on:click="isActiveToRender='comHome'">Home</button>
  <button v-on:click="isActiveToRender='comContact'">Contact</button>
  <button  v-on:click="isActiveToRender='comAbout'">About</button>
 
  <keep-alive>
   <component :is="isActiveToRender"></component>
  </keep-alive>
  </div>
</template>
<script>
import comHome from '@/components/Home';
import comAbout from '@/components/About';
import comContact from '@/components/Contact';
export default {
 components:{
   comHome,
   comAbout,
  comContact
 },
 data() {
   return{
     isActiveToRender:comHome
   }
 }
}
</script>